h1 {
  font-size: large;
  color: gray;
  text-align: center;
  font-family: "Playwrite CU Guides", cursive;
}

.playwrite-cu-guides-regular {
  font-family: "Playwrite CU Guides", cursive;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-size: medium;
  color: rgb(230, 230, 230);
  text-align: center;
  font-family: "Arial", sans-serif;
}
body {
  background-image: url(hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  display: inline-block;
  background-position: center;
  text-align: center;
  margin: 20px auto;
  padding: 1rem 2rem;
  font-size: 16px;
  color: white;
  background-color: #ff5733;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #a31404;
}

body {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("hero.jpg");
  background-size: cover;
  background-position: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
}

.Navigationsleiste {
  background-color: rgba(70, 66, 66, 0.7);
  flex: row;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: clamp(0, 75rem, 4vw, 3rem);
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: clamp(0.9rem, 2.2vw, 1.05rem);
  font-family: "Arial", sans-serif;
  padding: 8px 16px;
  transition:
    background-color 0.3s,
    color 0.3s;
  text-transform: uppercase;
  white-space: normal;
  word-break: keep-all;
  text-align: center;
}

.nav-links li a:hover {
  background-color: #ff5733;
  color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .break {
    display: block;
    margin-left: 0.6rem;
  }
}

.headerundnav {
  width: 100vw;
}
